* {
    font-family: Helvetica, Arial, sans-serif
}

#board-container {
    margin: auto;
}

#board-background {
    z-index: -1;
    position: relative;
}

#board-foreground {
    z-index: 1;
    position: absolute;
}

#controller {
    margin: auto;
    display: flex;
}

.controller-btn {
    flex: 1;
    height: 100%;
    border-radius: .5em;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    color: #CFD4D9;
}

#btn-left {
    float: left;
    border: solid 1px #028A0F;
    background: linear-gradient(#03AC13, #028A0F)
}

#btn-right {
    float: right;
    border: solid 1px #990F02;
    background: linear-gradient(#D21404, #990F02)
}

#screen {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(11, 12, 11, 0.8);
}

#screen-panel {
    display: block;
    /* offset top: hard code same as achievement td el font*/
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #0A1E08;
    background: #F0E7DA;
    border-radius: 4px;
    padding: 2px;
    box-shadow: 0px 2px rgba(136, 136, 136, .6);
}

.screen-achievement-tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.screen-achievement-td {
    flex: 33%;
    aspect-ratio: 1/1;
}

.screen-achievement-td-el {
    border: 1px solid #ccc;
    border-radius: 16px;
    aspect-ratio: 1/1;
}

.ach-badge {
    font-size: 8vh;
}

.ach-text {
    font-size: 12px;
    padding-top: 12px;
}

.greyscale {
    filter: grayscale(1);
}

#score-val {
    font-size: 4vh;
    /*align to top element margin or padding*/
    padding-bottom: 16px;
}
